*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*====== PRIMARY-COLOR ======*/
  --Blue500: hsl(215, 51%, 70%);
  --Cyan400: hsl(178, 100%, 50%);

  /*====== NEUTRAL-COLOR ======*/
  --Blue950: hsl(217, 54%, 11%); /*main BG*/
  --Blue900: hsl(216, 50%, 16%); /*card BG*/
  --Blue800: hsl(215, 32%, 27%); /*line*/
  --White: hsl(0, 0%, 100%);
  /*====== FONT ======*/
  font-size: 62.5%;
  --font-size: 1.8rem;
  --font-family: "Outfit", sans-serif;
}

@font-face {
  font-family: "Outfit";
  src: url(Assets/Fonts/Outfit/static/Outfit-Regular.ttf) format("truetype");
}

body {
  display: grid;
  place-items: center;
  background-color: var(--Blue950);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  color: var(--White);
  font-family: var(--font-family);
}

.card {
  width: 35rem;
  padding: 2rem;
  background-color: var(--Blue900);
  border-radius: 1rem;
}
.image-container {
  position: relative;
  overflow: hidden;
}
.hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7rem;
  background-color: var(--Cyan400);
  opacity: 0;
  transition: all 0.3s;
}
.hover:hover {
  opacity: 0.7;
  cursor: pointer;
}
.equilibrium {
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
}

.head p {
  margin: 1rem 0;
  font-size: 2.4rem;
  cursor: pointer;
  transition: color 0.3s;
}
.head p:hover {
  color: var(--Cyan400);
}
.head span {
  color: var(--Blue500);
}

.stat {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.stat div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

hr {
  background-color: var(--Blue900);
  margin: 1.5rem 0;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--Blue500);
}
.avatar img {
  width: 5rem;
  border: 0.2rem solid var(--White);
  border-radius: 50%;
  cursor: pointer;
}
.avatar span {
  color: var(--White);
  cursor: pointer;
  transition: color 0.3s;
}
.avatar span:hover {
  color: var(--Cyan400);
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 60rem) {
  .card {
    width: 30rem;
  }
}
